<h1>Stupid Coaching</h1>
<p>Ask Your coach anything:</p>
<div class="form">
  <form action="/answer">
    <input type="text" name="question" class="input">
    <input type="submit" value="Ask!" class="search">
  </form>
</div>
